@{
	ViewData["Title"] = "Home Page";
}

<title>Multilingual</title>


<a class="translate" id="nl">
	<img  src="~/image/NL.png" />
</a>

<a class="translate" id="en">
	<img src="~/image/EN.png" />
</a>


<ul>
	<li class="lang" key="test"></li>
	<li class="lang" key="test2"></li>
	<li class="lang" key="test3"></li>
</ul>