@{
	ViewData["Title"] = "Home Page";
}

<title>Multilingual</title>


<button class="translate" id="nl">
	<img src="~/image/NL.png" />
	<span class="lang" key="button1">My Text</span>
</button>

<button class="translate" id="en">
	<img src="~/image/EN.png" />
	<span class="lang" key="button2">My Text</span>
</button>


<ul>
	<li class="lang" key="test"></li>
	<li class="lang" key="test2"></li>
	<li class="lang" key="test3"></li>
</ul>